<!--The content below is only a placeholder and can be replaced.-->
<sui-multi-select [(ngModel)]="selection" [isSearchable]="true" [options]="options"
(ngModelChange)="onChange($event)">
  <sui-select-option *ngFor="let option of options" [value]="option">{{option}}</sui-select-option>
</sui-multi-select>
Selection: {{ selection }}
<div class="ui form">
    <div class="field">
        <label>Rating</label>
        <sui-rating [(ngModel)]="rating" [maximum]="10" [isReadonly]="readonly"></sui-rating>
    </div>
    <div class="field">
        <label>Value</label>
        <input type="number" [(ngModel)]="rating">
    </div>
    <div class="field">
        <sui-checkbox [(ngModel)]="readonly">Read Only?</sui-checkbox>
    </div>
</div>

<sui-search [options]="options"
            optionsField="title"
            (resultSelected)="last = $event"></sui-search>

<div class="ui segment">
    <p>Last selected: {{ last | json }}</p>
</div>
